@import '../../Colors.scss';


.FooterWrapper {

    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-90deg, #000000 0%, #242f38 100%);


    .FooterInfo {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2em;
        width: 90%;
        height: 100%;
        
        p {
            
            color: $goldenrod;
            font-family: 'Gotham', sans-serif;
            font-size: 0.7vw;
            font-weight: 800;
            margin: 0px;
        
        }

    }
}

.SocialBox {
    
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;



}

.SocialIcon {
    
    color: $goldenrod;
    font-size: 1.6em;

}

.SocialIcon:hover {
    
    color: $goldenrod;
    font-size: 2em;
    transition: $transition;
   
}


.IconBox {
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 800;


}