@import './../../Colors.scss';


.ContactWrapper {
    

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation-name: ContactWindow;
    animation-duration: 1s;
    transition: $transition;
    margin-top: 10vh;


    @keyframes ContactWindow {

        0%  { filter: blur(20px); opacity: 0; margin-top: -800px;}
        100% { filter: blur(0px); opacity: 1; margin-top: 0px;}

    }

    .ContactMain {

        display: flex;
        flex-wrap: wrap;
        width: 90%;
        animation-name: ContactContent;
        animation-duration: 1s;
        transition: $transition;
        overflow: hidden;


        @keyframes ContactContent {

            0%  { filter: blur(20px); opacity: 0; margin-top: -800px;}
            100% { filter: blur(0px); opacity: 1; margin-top: 0px;}
    
        }


        hr {
            border: $goldenrod;
        }
     

        .ContactLeft {

            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            padding: 2em;
            min-width: 300px;
            
            img {

                width: 100%;
            }
        }
        
        .ContactRight {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 50%;
            padding: 2em;
            font-family: 'GothamNormal';
            color: $goldenrod;
            min-width: 300px;
            
            h4 {

                font-weight: 800;
                font-size: 4em;
                line-height: 0.8em;
                text-justify: distribute;
                margin-bottom: 0.5em;

            }

            p {

                font-size: 1em;
                font-weight: 300;
                letter-spacing: 0.2em;
                line-height: 1.7em;
                margin: 0px;

            }

            span {
                
                font-weight: 800;
                font-size: 1.4em;

            }
            .Address {

                font-size: 1.2em;
                font-weight: 500;


            }
            
        }
    }

}


@media screen and (max-width: 1024px) {


    .ContactWrapper {

        margin-top: 10vh;

        .ContactMain {
            width: 80%;

            .ContactRight {

                padding: 0px;
                h4 {
                    font-size: 2em;
                }

                p {
                    font-size: 0.7em;
                }

                .Address {
                    font-size: 1em;
                }

                span {
                    font-size: 1em;
                }
            }

        }

    }
}

@media screen and (max-width: 768px) {

    .ContactWrapper {
        margin-top: 10em;

    }

}


@media screen and (max-width: 415px) {

    .ContactWrapper {

        margin-top: 5em;

        .ContactMain {
            width: 80%;
        }

    }

}

