@import '../../Colors.scss';


.SlideWrapper {

    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    width: 90%;
    height: auto;
    padding: 0px;
    font-family: 'GothamNormal';
 
    padding: 2em;

    .Subtitulo {

        width: 30%;
        color: $goldenrod;
        font-size: 4em;
        margin-bottom: 0.5em;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: $goldenrod;
        animation-name: Translate;
        transition: $transition;
        animation-duration: 1s;
        opacity: 0;
        
    }
    
}

.Carousel {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}



.ProductosContainerUp {
    
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2em;
    
    .ProductosTitulo {
        
        width: 50%;
        font-size: 5vw;
        font-weight: 800;
        color: white;
        margin-bottom: 0.5em;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: $goldenrod;
        padding: 0.5em;
        text-align: center;   
        animation-duration: 1s;
        transition: $transition;
        
        
    }

    @keyframes TitleMove {
        
        0%  { filter: blur(20px); opacity: 0; margin-top: -1200px; }
        100% { filter: blur(0px); opacity: 1;  margin-top: 0px;}
            
    }
    
    
    p {
        
        width: 40%;
        font-weight: 100;
        color: white;
        line-height: 1.8em;
        padding: 1em;
        
    }
    
    
}

.ProductosContainerDown {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    color: $goldenrod;
    
    .White {
        
        color: white;
    }
    
    h4 {
        
        font-size: 2vw;
        font-weight: 800;
        
    }
    
    p {
        font-size: 0.9em;
    }
    
    .ServiceItem {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: auto;
        padding: 1em;
        margin: 0.5em;
        min-width: 250px;

        .icon {
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 0.7em;
        }
    }
    
}

.SlideTitle {
    
    color: white;
    font-size: 1.4em;
    font-family: 'GothamThin';
    margin-top: 2em;
    
}


.carouse-control-next-icon {
    
    fill: $goldenrod;
    
}


.FraseBottom {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 4vw;
    padding: 2vw;
    text-align: left;
    
    
    h3 {
        
        font-family: 'GothamThin';
        font-size: 25px;
        line-height: 60px;
        width: 50%;
        -webkit-text-stroke-width: 0;
        -webkit-text-stroke-color: $goldenrod;
        color: $goldenrod;
        padding: 2vw;
        letter-spacing: 1vw;
        border-bottom: 1px solid $goldenrod;
    }
    
    p {
        
        font-family: 'GothamNormal';
        letter-spacing: 1vw;
        font-size: 1vw;
        margin-top: 3vw;
        color: $goldenrod;
        
    }
    
    span {
        
        font-weight: 600;
    }
    
}


@media screen and (max-width: 1024px) {

    .SlideWrapper {
        margin-top: 0px;
    }
    
    
    .ProductosContainerUp {

        align-items: flex-start;

        .ProductosTitulo{
            padding: 0em 0.4em 0em 0.4em;
            width: 50%;
            font-size: 2.5em;

        }

        p {
            font-size: 0.7em;
            width: 80%;
            padding: 0px;
        }
    }

    .ProductosContainerDown {


        .ServiceItem {
            padding: 1em;
            width: 45%;
        }
        
        
    }

    .FraseBottom {

        h3 {
            width: 80%;
            font-size: 1.3em;
        }

        p {
            font-size: 1em;
        }
    }


}

@media screen and (max-width: 768px) {

    .ProductosContainerUp {

        .ProductosTitulo {
            font-size: 2em;
        }

        p {
            font-size: 0.8em;
        }
    }

    .ProductosContainerDown {

        .ServiceItem {

            h4 {
                font-size: 2em;
                text-align: center;
            }
            p {
                font-size: 0.9em;
            }
        }

    }


}

@media screen and (max-width: 415px) {

   
    .SlideWrapper {

        padding: 0px;
        margin-top: 2em;

        .ProductosContainerUp {

            padding: 2em;

            p {
                width: 100%;
            }

            .ProductosTitulo {

                padding: 0px;
                margin: 0px;
                width: 100%;
                margin-bottom: 1em;
                text-align: center;
                font-size: 2em;
            }
        }

        .ProductosContainerDown {

            padding: 2em;


            .ServiceItem {

                padding: 0px;
                width: 100%;

                .icon {
                    margin-bottom: 0.2em;
                }

                h4 {
                    font-size: 1.8em;
                }

                p {
                    font-size: 0.7em;
                    line-height: 1.8em;
                }
            }


        }

        .FraseBottom {

            h3 {
                font-size: 1.2em;
                line-height: 1.6em;
            }

            p {
                font-size: 1em;
            }
        }

        .Carousel {
            height: 300px;
        }
    }
}
       

