@import './Colors.scss';

.App {

  width: 100vw;
  height: 2000px;

}

.HeaderMain {

  width: 100vw;
  height: 20vh;
  position: fixed;

}

.Footer {

  width: 100%;
  height: 10%;
}

.Switch {
  
  width: 100%;
  height: 70%;

}

.ImgFondo {

  position: absolute;
  top: 0px;
  background-image: linear-gradient(to top left, #000000 0%, #242f38 100%);
  width: 100%;
  height: 4000px;
  min-width: auto;
  z-index: -3;
  border: 1px solid black;

}

