@import '../../Colors.scss';


.AboutWrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.AboutMain {

    display: flex;
    width: 80%;
    height: 60%;
    padding: 2em;
    color: $goldenrod;
    border: 1px solid $goldenrod;
    font-family: 'Gotham', sans-serif;

    .AboutLeft {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .AboutRight {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        height: 100%;
        padding: 2em;

        p {
            line-height: 2em;
            margin: 0px;
        }

        span {
            font-size: 1.4em;
            font-weight: 800;
        }
    }

}