@import '../../Colors.scss';


.AboutWrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.AboutMain {

    display: flex;
    width: 80%;
    height: 60%;
    padding: 2em;
    color: $goldenrod;

    .AboutLeft {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .AboutRight {

        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 2em;

        p {
            line-height: 2em;
        }

        span {
            font-size: 1.4em;
            font-weight: 800;
        }
    }

}