@import '../../Colors.scss';


.AboutWrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 1px solid white;

}

.AboutMain {

    display: flex;
    width: 80%;
    height: 60%;
    border: 1px solid white;
    padding: 2em;
    color: $goldenrod;

    .AboutLeft {

        width: 50%;
        height: 100%;
    }

    .AboutRight {

        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
    }

}