@import '../../Colors.scss';

.HeaderWrapper {

    display: flex;
    width: 100%;
    height: 100%;
    animation-name: ContactContent;
    animation-duration: 0.5s;
    animation-delay: 0s;
    transition: $transition;


    .BurgerBox {
        display: flex;
        width: 40px;
        margin: 0px;
        padding: 0px;

        img {
            width: 100%;
        }
    }
  
    
    .LogoBox {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 100%;
        margin-left: 10px;

        .Logo {
            width: auto;
            height: 80%;
        }

        .Logo:hover {
            width: auto;
            height: 90%;
        }
    }
    
    .ButtonsBox {
        display: flex;
        width: 90%;
    

        .Buttons {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 100%;

            .nav-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 50px;
            }


            a {
                
                all: unset;
                color: $goldenrod;
                cursor: pointer;
                font-family: 'Gotham', sans-serif;
                padding: 0px;
                font-size: 0.9em;
                font-weight: 800;
                transition: $transition;
                z-index: 1;
                
            }
        
            a:hover {
                
                all: unset;
                color: $goldenrod;
                cursor: pointer;
                font-family: 'Gotham', sans-serif;
                font-size: 1.4em;
                font-weight: 800;
                transition: $transition;
                z-index: 2;
             
            }
        }
    }

    

    @keyframes ContactContent {

        0%  { filter: blur(20px); opacity: 0; margin-top: -200px;}
        100% { filter: blur(0px); opacity: 1; margin-top: 0px;}

    }



}


@media screen and (max-width: 1024px) {


    .HeaderWrapper {

        height: 20vh;

        .LogoBox {
         
            width: 20%;
      }
    
      .ButtonsBox {
          width: 80%;
      }


    }
    

}

@media screen and (max-width: 768px) {


    .HeaderWrapper {

        height: 15vh;
        height: 100%;

        .LogoBox {
         
            width: 20%;
            height: 80%;
      }
    
      .ButtonsBox {
        
        display: flex;
        justify-content: flex-end;
        margin-top: -10em;
        margin-right: 4em;
        width: 100%;
        height: 150px;
        padding-left: 2em;
        border: 0px;

        .Buttons {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            width: 50%;

            .nav-item {
                display: flex;
                justify-content: flex-end;
            }

            a {
                margin: 0px;
            }
        }
      }


    }
    

}


