@import '../../Colors.scss';

.HeaderMain {

    display: flex;
    padding: 1em;
    justify-content: center;
    width: 100vw;
    height: 25vh;
    position: fixed;
    top: 0px;
    z-index: 120;
    background-image: linear-gradient(-90deg, #000000 0%, #242f38 100%);


    .HeaderWrapper {
        
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0px;
        animation-name: ContactContent;
        animation-duration: 0.5s;
        animation-delay: 0s;
        transition: $transition;
        
        
        .BurgerBox {
            display: flex;
            width: 40px;
            margin: 0px;
            padding: 0px;
            
            img {
                width: 100%;
            }
        }
        
        
        .LogoBox {
            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 100%;
            
            .Logo {
                width: auto;
                height: 80%;
            }
            
            .Logo:hover {
                width: auto;
                height: 90%;
            }
        }
        
        .ButtonsBox {
            display: flex;
            width: 70%;
            padding: 0px;
            margin: 0px;
            
            
            .Buttons {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
                
                .nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;
                }
                
                
                a {
                    
                    all: unset;
                    color: $goldenrod;
                    cursor: pointer;
                    font-family: 'Gotham', sans-serif;
                    padding: 0px;
                    font-size: 0.9em;
                    font-weight: 800;
                    transition: $transition;
                    z-index: 1;
                    
                }
                
                a:hover {
                    
                    all: unset;
                    color: $goldenrod;
                    cursor: pointer;
                    font-family: 'Gotham', sans-serif;
                    font-size: 1.4em;
                    font-weight: 800;
                    transition: $transition;
                    z-index: 2;
                    
                }
            }
        }
        
        
        
        @keyframes ContactContent {
            
            0%  { filter: blur(20px); opacity: 0; margin-top: -200px;}
            100% { filter: blur(0px); opacity: 1; margin-top: 0px;}
            
        }
        
        
        
    }
    
    //aqui
    
}


@media screen and (max-width: 1024px) {


    .HeaderMain {

        .HeaderWrapper {
    
            height: 15vh;
            height: 100%;
    
            .LogoBox {
             
                width: 20%;
                height: 100%;
          }
        
          .ButtonsBox {
            
            display: flex;
            justify-content: flex-end;
            width: 100%;
            height: 100%;

    
            .Buttons {
    
                display: flex;
                align-items: center;
                width: 100%;
    
                .nav-item {
                    display: flex;
                    justify-content: center;
                    font-size: 0.9em;
                }
    
                a {
                    margin: 0px;
                }
            }
          }
    
    
        }


    }


    

}

@media screen and (max-width: 768px) {


    .HeaderMain {

        .HeaderWrapper {

            .navbar-toggler {
                display: none;
            }
    
            .ButtonsBox {
                
                padding: 0px;
                font-size: 0.9em;
                margin: 0px;
                margin-top: -17vh;
                width: 100%;
                height: 150px;
                border-bottom: 1px solid yellow;

                .Buttons {

                    align-items: flex-end;
                    margin: 0px;

                    .nav-item {
                        margin-right: 3em;
                        justify-content: flex-end;
                    }

                }
            }
        }


    }
    
}

@media screen and (max-width: 415px) {

    .HeaderMain {
    
        .HeaderWrapper {

            .LogoBox {
                width: 40%;
                height: 100%;
                margin: 0px;

                .Logo {
                    width: 60%;
                    height: auto;
                }
            }

            .ButtonsBox {

                width: 60%;
                margin-top: -22vh;

                .Buttons {
                    width: 100%;

                    .nav-item {
                        margin-right: 1em;
                    }
                }
            }
        }
    }

}


