@import '../../Colors.scss';


.ScrollMargin {

    position: fixed;
    width: 100%;
    height: 100vh;
    right: 2%;
    top: 10%;
   
    
    
    p {
        
        font-family: 'GothamThin';
        color: $goldenrod;
        margin: 0px;
    }
    
    
    .ScrollInfo {
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 63vh;
        top: 46vh;
        right: -15vw;
        transform: rotate(-90deg);
        font-family: 'GothamBlack';
        letter-spacing: 1em;
        font-size: 0.7em;
        position: absolute;
        color: #c4850a;

        .ScrollLine {

            width: 10%;
            border-bottom: 1px solid white;
            margin: 0px;

        }
        
        
        .fas {
            color: $goldenrod;
        }
    }

}

@media screen and (max-width: 1024px) {

    .ScrollMargin {

        .ScrollInfo {

            right: -26vh;
        }
    }
}

@media screen and (max-width: 768px) {

    .ScrollMargin {

        .ScrollInfo {

            right: -27vh;
        }
    }

}


@media screen and (max-width: 415px) {

    .ScrollMargin {

        .ScrollInfo {

            font-size: 0.6em;
            right: -28vh;
        }
    }

}