@import '../../Colors.scss';

.ProductosWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;

}

.ProductosMain {

    display: flex;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid $goldenrod;
    animation-name: ContactWindow;
    animation-duration: 1s;
    transition: $transition;

    .ProductosMainLeft {
        padding: 2em;
        width: 50%;

        img {
            width: 100%;
        }
    }

    .ProductosRight {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        font-family: 'Gotham black';
        color: $goldenrod;
        padding: 2em;

        h4 {
            font-size: 2em;
        }

        p {
            font-family: 'Gotham';
            width: 70%;
            text-align: justify;
        }

        span {
            font-family: 'Gotham Black';
        }

        .icon-content {
            display: flex;
            justify-content: flex-start;
            border-right: 1px solid $goldenrod;

            img {
                width: 20px;
                margin-right: 1em;
            }

        }
    }

    @keyframes ContactWindow {

        0%  { filter: blur(20px); opacity: 0;}
        100% { filter: blur(0px); opacity: 1;}

    }

}


.ProductosMain::-webkit-scrollbar {
    display: none;
    width: 0.7em;
}

.ProductosMain::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
}

.ProductosMain::-webkit-scrollbar-thumb {
    
    background-color: $goldenrod;
}


@media screen and (max-width: 1024px) {

    .ProductosWrapper {
        margin-bottom: 3em;
    }

    .ProductosMain {

        align-items: center;

        .ProductosRight {

            h4 {
                font-size: 2em;
            }

            p {
                width: 90%;
                font-size: 0.8em;
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .ProductosWrapper {
        margin-top: 3em;
    }

}